html {
  scroll-behavior: smooth;
}

body {
  transition: all 0.5s ease;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background-image: url('gambar1.jpg'); 
  background-size: cover;
  background-position: center;
  color: white;
  padding: 180px 0;
  text-align: center;
}
.about-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.about-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

section p {
  font-size: 1rem;
  line-height: 1.6;
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: auto;
  overflow: hidden;
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease;
  width: auto;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
  position: relative;
}

.carousel-image {
  width: 100%;
  max-width: 900px;
  object-fit: cover;
}

.carousel-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 8px 0;
  font-size: 1rem;
  font-weight: normal;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  text-align: center;
}


button {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  z-index: 1;
  transform: translateY(-50%);
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

nav {
  transition: all 0.3s ease-in-out;
  position: sticky;
  top: 0;
  background: #444;
  z-index: 100;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 20px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
}

nav a:hover {
  background: #333;
}


nav li {
  margin: 0 20px;
}

section {
  margin-top: 40px;
}

h2 {
  color: #008080;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
}

footer {
  text-align: center;
  background: #222;
  color: white;
  padding: 20px;
  margin-top: 40px;
}